
<configuration>

    <timestamp key="bySecond" datePattern="HH-mm-ss"/>


    <appender name="FILE" class="ch.qos.logback.core.FileAppender" >
        <file>logs/PrismMod-log-${bySecond}.txt</file>
        <append>true</append>

        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <!--<withJansi>true</withJansi>-->

        <encoder>
            <pattern>%d{mm:ss.SSS} %-5level %logger{0}.%M %L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FREQS" class="ch.qos.logback.core.FileAppender">
        <file>logs/frequencies-log-${bySecond}.txt</file>
        <append>true</append>

        <encoder>
            <pattern> %msg%n</pattern>
        </encoder>
    </appender>
    <!--<logger name="weka.classifiers.rules.PrismMod01" level="debug" >-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <logger name="freqs">
        <appender-ref ref="FREQS" />
    </logger>

    <root level="debug"  >
        <appender-ref ref="FILE"  />
    </root>
</configuration>